node-options=--max-old-space-size=4096

supportedArchitectures[os][]=darwin
supportedArchitectures[os][]=linux
supportedArchitectures[cpu][]=arm64
supportedArchitectures[cpu][]=x64
supportedArchitectures[libc][]=glibc
