/* montserrat-regular - latin_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v25-latin_cyrillic-regular.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/montserrat-v25-latin_cyrillic-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat') format('svg');
	/* Legacy iOS */
}


.nav-item {
	font-family: "Montserrat", "Verdana regular", "Ebrima bold";
	font-size: 14pt;
	font-variant-caps: all-petite-caps;
}

.custom-navbar .fa-brands {
	font-size: 30px;
	color: #73D1BE;
}

@media (max-width:768px) {
	.custom-navbar .navbar-right {
		float: right;
		padding-right: 15px;
	}

	.custom-navbar .nav.navbar-nav.navbar-right li {
		float: right;
	}

	.custom-navbar .nav.navbar-nav.navbar-right li>a {
		padding: 8px 5px;
	}

	.custom-navbar .navbar-toggle {
		float: left
	}

	.custom-navbar .navbar-header {
		float: left;
		width: auto !important;
	}

	.custom-navbar .navbar-collapse {
		clear: both;
		float: none;
	}

	.navbar-right {
		visibility: hidden;
	}
}


.navbar-right {
	flex-wrap: nowrap;
}