/* montserrat-regular - latin_cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v25-latin_cyrillic-regular.eot');
	/* IE9 Compat Modes */
	src: local(''),
		url('../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'),
		/* Modern Browsers */
		url('../fonts/montserrat-v25-latin_cyrillic-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat') format('svg');
	/* Legacy iOS */
}

@font-face {
	font-family: 'AmaticSC';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/AmaticSC-Regular.ttf');
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Ubuntu-Regular.ttf');
}

html, body, #app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}